body{
    background-color: #ecdbc3;
}

.bg-loading{
    position:absolute;
    width:100%;
    height:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(20,20,20,0.5);
    z-index:10000;
}

.color-1{
    color:#FBF5E5;
}
.color-2{
    color:#C890A7;
}
.color-3{
    color:#A35C7A;
}
.color-4{
    color:#212121;
}