<div class="row m-0 w-100 main-content">
    @if(isLoading()){
        <div class="bg-loading">
            <button class="btn btn-secondary" type="button" disabled>
                <span class="spinner-border spinner-border-sm" aria-hidden="true"></span>
                <span role="status"> Loading...</span>
            </button>
        </div>
        }        
    <div [class]="rightContentView()=='empty'?'col-12 col-sm-4 left-content':'col-12 col-sm-4 left-content left-expand-sm'">
        @if(userID()==null){
            <div class="d-flex justify-content-center" style="border-bottom:2px solid gray">
                <button class="btn btn-secondary w-100 m-2" (click)="createNote()"><fa-icon [icon]="faPlusSquare"></fa-icon>&ensp;New Note</button>
            </div>
        }
        @else{
            <div class="d-flex justify-content-start py-2 m-2" style="border-radius:5px;background-color: white;">
                <table>
                    <tr>
                        <td rowspan="2" class="ps-2 pe-4"><fa-icon [icon]="faUser" style="font-size: 40px;color: #578E7F;"></fa-icon></td>
                        <td>Name</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>{{userList.name ? userList.name:""}}</td>
                    </tr>
                    <tr>
                        <td>Email ID</td>
                        <td>&nbsp;:&nbsp;</td>
                        <td>{{userList.email ? userList.email:""}}</td>
                    </tr>
                </table>
            </div>
        }
        <div class="row justify-content-center" [style]="userID()!=null?'border-top:2px solid gray':''">
            @if(messageList().length==0){
                <div class="error-message p-3"> 
                    No Record Found
                </div>
            }
            @for (mess of messageList();track $index){
            <div class="card custom-card-1 col-11 m-2" (click)='openNote(mess._id)'>
                <div class="card-body p-1">
                    <div class="row justify-content-between align-items-center">
                        <h5 class="card-title col-12 col-lg-8">{{mess.title}}</h5>
                        <div class="col-12 col-lg-4 date-format">{{displayDate(mess.createdDate)}}</div>
                    </div>
                </div>
            </div>
            }
        </div>
        <br>
        <br>
    </div>
    <div [class]="rightContentView()=='empty'?'right-expand-sm col-sm-8 right-content':'col-sm-8 right-content'">
        @if(rightContentView()=="empty"){
        <div class="d-flex flex-column justify-content-center align-items-center" style="height:inherit;">
            <div>Click Create Button to Add a New Note.</div>
            <div>Or</div>
            <div>Click on the Note to View the Note Message.</div>
        </div>
        }

        @if(rightContentView()=="create" || rightContentView()!="empty"){
        <div class="w-100 d-flex flex-column justify-content-center align-items-center">
            <div class="w-100 p-2" style="border-bottom: 2px solid gray;">
                <input type="text" [(ngModel)]="title" placeholder="Title" class="form-control" [readonly]="(userID()!=null || taskStatus()=='Completed')?true:false"/>
            </div>
            <div class="w-100 p-2">
                <textarea [(ngModel)]="note" rows="10" cols="30" class="form-control" placeholder="Message" [readonly]="(userID()!=null || taskStatus()=='Completed')?true:false"></textarea>
            </div>
            
            <div class="w-100 p-2">
                <label for="date">DeadLine Date:</label>
                <input [(ngModel)]="deadline" placeholder="DeadLine Date" title="DeadLine Date" class="form-control" [min]="today()" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date"  [readonly]="(userID()!=null || taskStatus()=='Completed')?true:false"/>
            </div>
            @if(rightContentView()!="create"){
            <div class="w-100 p-2 justify-content-between d-flex">
                <span>
                    Task status : {{taskStatus()}}
                    @if(userID()==null && taskStatus()=="Not Started"){
                        <button class="btn btn-primary btn-sm" style="margin-right: 10px;" (click)="updateStatus('start')"><fa-icon [icon]="faCheck"></fa-icon>&ensp;Click here to Start</button>
                    }
                    @else if(userID()==null && (taskStatus()=="In Progress"||taskStatus()=="Re-work")){
                        <button class="btn btn-primary btn-sm" style="margin-right: 10px;" (click)="updateStatus('complete')"><fa-icon [icon]="faCheck"></fa-icon>&ensp;Click here to Complete</button>
                    }
                    @else if(userID()!=null && taskStatus()=="Completed"){
                        <button class="btn btn-primary btn-sm" style="margin-right: 10px;" (click)="updateStatus('rework')"><fa-icon [icon]="faCheck"></fa-icon>&ensp;Click here to Assign Rework</button>
                    }
                </span>
                <span> Updated On : {{displayDate(updatedDate())}}</span>
            </div>
            }
            <div class="w-100 p-2 row justify-content-end">
                @if(userID()==null && taskStatus()!="Completed"){
                @if(rightContentView()!="create"){
                <button class="col-3 col-lg-2 btn btn-success" style="margin-right: 10px;" (click)="updateNote()"><fa-icon [icon]="faCheck"></fa-icon>&ensp;Save</button>
                
                   
                <button class="col-3 col-lg-2 btn btn-danger" style="margin-right: 10px;" (click)="deleteNote()"><fa-icon [icon]="faTrash"></fa-icon>&ensp;Delete</button>
                }
                @else{
                <button class="col-3 col-lg-2 btn btn-success" style="margin-right: 10px;" (click)="onSaveNote()"><fa-icon [icon]="faCheck"></fa-icon>&ensp;Save</button>
                }
                }
                <button class="col-3 col-lg-2 btn btn-secondary" (click)="backButton()"><fa-icon [icon]="faChevronCircleLeft"></fa-icon>&ensp;Back</button>
            </div>
            <br>
            <br>
        </div>
        }
    </div>
</div>  