<nav [class]="isLogin()?'navbar navbar-expand-md fixed-top navbar-dark bg-dark p-0':'navbar navbar-expand-md fixed-top navbar-dark bg-dark'">
    <div class="container-fluid">
        <a class="navbar-brand" >Simple ToDo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
            @if(isLogin()){
            <ul class="navbar-nav">
                @if(user.role && user.role=="admin"){
                <li class="nav-item d-flex align-items-center">
                    <a class="nav-link active" aria-current="page" [routerLink]="'/dashboard'">Dashboard</a>
                </li>
                <li class="nav-item d-flex align-items-center">
                    <button type="button" class="nav-link active" data-bs-toggle="modal" (click)="onUserClick()" data-bs-target="#exampleModal">User List</button>
                </li>
                }
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <fa-icon [icon]="faUserCircle" style="color:white;font-size:28px;"></fa-icon>
                    </a>
                    <ul class="dropdown-menu customNavbarDropdown" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Welcome,&ensp;{{user.name}}<br>Role: {{user.role}} </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="px-2"><a class="btn btn-secondary" (click)='logout()'>Logout</a></li>
                    </ul>
                </li>
            </ul>
            }
            @else{
            <a class="btn btn-secondary" [routerLink]='"login"'>Login</a>
            }
        </div>
    </div>
</nav>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">User List</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <span></span>
            <table>
                <tr>
                    <td colspan="2">Kindly Select the User to See his/her ToDo List.</td>
                </tr>
                <tr>
                    <td>User : </td>
                    <td>
                        <select [(ngModel)]="userID" class="form-control">
                            <option disabled selected>Select User</option>
                            @for (user1 of userList();track $index){
                                <option [value]="user1._id">{{user1.name}}&nbsp;-&nbsp;{{user1.email}}</option>
                            }
                        </select>
                    </td>
                </tr>
            </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="openUserList()">Open</button>
        </div>
      </div>
    </div>
  </div>

